---
# babel support more syntax stuff than eslint for now
parser: babel-eslint

ecmaFeatures:
  modules: true
  jsx: true

env:
  es6: true
  browser: true
  node: true

globals:
  # for docs
  __DEV__: true
  __PROD__: true
  __SERVER_PROTOCOL__: true
  __SERVER_HOSTNAME__: true
  __SERVER_PORT__: true
  __SERVER_HOST__: true
  __SERVER_URL__: true
  __LR_SERVER_PORT__: true

plugins:
  - react

# 0: off, 1: warning, 2: error
rules:
  indent: [2, 2] # 2 spaces indentation
  max-len: [2, 80, 4]
  no-multiple-empty-lines: [2, {"max": 1}]
  quotes: [2, "double"]
  semi: [2, "never"]

  brace-style: [2, "stroustrup"]
  comma-dangle: [2, "always-multiline"]
  comma-style: [2, "last"]
  computed-property-spacing: [2, "never"]
  dot-location: [2, "property"]

  no-var: [2]
  no-bitwise: [2]
  one-var: [2, "never"]
  prefer-const: [2]

  array-bracket-spacing: [2, "never"]
  object-shorthand: [2, "methods"]
  object-curly-spacing: [2, "never"]
  space-after-keywords: [2, "always"]
  space-before-blocks: [2, "always"]
  space-before-function-paren: [2, "never"]
  space-in-parens: [2, "never"]
  space-unary-ops: [2, {"words": true, "nonwords": false}]
  spaced-comment: [2, "always"]

  # see globals
  no-underscore-dangle: 0

  # eslint-plugin-react rules
  react/jsx-boolean-value: 2
  react/jsx-no-undef: 2
  react/jsx-quotes: 2
  #react/jsx-sort-prop-types: 2
  #react/jsx-sort-props: 2
  react/jsx-uses-react: 2
  react/jsx-uses-vars: 2
  react/no-did-mount-set-state: 2
  react/no-did-update-set-state: 2
  react/no-multi-comp: 2
  react/no-unknown-property: 2
  react/prop-types: 2
  react/react-in-jsx-scope: 2
  react/self-closing-comp: 2
  react/sort-comp: 2
  react/wrap-multilines: 2
