.image {
  background-image: url(img/test.png);
}@media (min-resolution: 192dpi) {.image {
  background-image: url(img/test-2x.png);
}
}@media (min-resolution: 600dpi) {.image {
  background-image: url(my-img-print.png);
}
}
