.cssnext-Header {
  line-height: var(--cssnext-Header-height);
}

@media (--r-minM) {
  .cssnext-Header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: color(#fff a(.99));
    z-index: 1; /* on top of position relative <a> */
    box-shadow: 0 0 .5rem color(#000 a(.1));
  }
}

  .cssnext-Header-logo {
    display: block;
    text-align: center;
  }
  @media (--r-minM) {
    .cssnext-Header-logo {
      display: inline-block;
      margin: 0 1.5rem 0 0 !important;
    }
  }

    /* remvove default link effect */
    .cssnext-Header-logo::before {display: none}

    .cssnext-Header-logo-img {
      height: var(--r-lineHeight);
      width: auto;
      vertical-align: middle;
      display: inline-block;
    }

      .cssnext-Header-logo-img-svg {
        display: block;
      }

    .cssnext-Header-version {
      font-size: .725rem;
      padding: 0 1rem;
      transition: .2s;
    }

    @media (--r-minM) {
      .cssnext-Header-version {
        position: absolute;
        bottom: -1.2rem;
        right: 4rem;

        line-height: 1;
        color: #fff;
        opacity: .2;
      }


      .cssnext-Header-logo:hover .cssnext-Header-version {
          opacity: .6;
      }
    }

  .cssnext-Header-nav {

  }

    @media (--r-minM) {
      .cssnext-Header-nav {
        text-align: right
      }
    }

    .cssnext-Header-nav-item {
      padding: 0 1rem;
      display: inline-block;
      height: var(--cssnext-Header-height);
    }

    /* adjust link underline position */
    .cssnext-Header-nav-item::before {
      bottom: calc((var(--cssnext-Header-height) / 2) - 1rem);
      transform: scaleX(0.50) translateY(0.1rem)
    }

    .cssnext-Header-nav-item:hover::before,
    .cssnext-Header-nav-item:focus::before {
      transform: scaleX(.65);
    }

      .cssnext-Header-nav-item--active,
      .cssnext-Header-nav-item--active:visited {
        color: #fff;
        background:
          linear-gradient(
            160deg,
            color(var(--cssnext-Color-blue) a(.9)),
            color(var(--cssnext-Color-purple) a(.9))
          )
        ;
      }
