/* custom properties */

/* custom media queries */

/* some var() & calc() */
body {
  color: #123456;
  color: rgba(18, 52, 86, 0.47059);

  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  padding: calc(0.5rem + 1px);
}

/* custom media query usage */
@media (max-width: 50em) {
  body { font-size: 1.2rem; }
  /* no need for px here since browsers that supports media queries support rem already */
}

/* custom selectors */
h1,
h2,
h3,
h4,
h5,
h6 { margin-top: 0 }

/* colors stuff */
a {
  color: rgb(89, 185, 204);
  -webkit-transition: color 1s;
          transition: color 1s; /* autoprefixed ! */
}
a:hover { color: #FFFFFF; color: rgba(255, 255, 255, 0.5) }
a:active { color: rgb(102, 51, 153) }
a:link,a:visited { color: rgb(89, 142, 153) }

/* font stuff */
h2 {
  -webkit-font-feature-settings: "c2sc";
     -moz-font-feature-settings: "c2sc";
          font-feature-settings: "c2sc";
  font-variant-caps: small-caps;
}

table {
  -webkit-font-feature-settings: "lnum";
     -moz-font-feature-settings: "lnum";
          font-feature-settings: "lnum";
  font-variant-numeric: lining-nums;
}

/* filters */
.blur {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="4" /></filter></svg>#filter');
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
.sepia {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.5144 0.6152000000000001 0.1512 0 0 0.2792 0.7488 0.13440000000000002 0 0 0.21760000000000002 0.4272 0.30479999999999996 0 0 0 0 0 1 0" /></filter></svg>#filter');
  -webkit-filter: sepia(.8);
          filter: sepia(.8);
}

/* pseudo-elements */
a:before,
a:after {
  content: "pseudo-elements"
}

/* :matches() and :not() */
p:first-child, p.specific {
  color: red;
}
p:not(:first-child):not(.specific) {
  background: blue;
}

/* rgba() fallback */
.color {
  background: #99DD99;
  background: rgba(153, 221, 153, 0.8);
}
